.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
psa_robot_description/scripts/__pycache__/vertical_stacking.cpython-38.pyc
PSA-P2-21-22.code-workspace
PSA-P2-21-22.code-workspace
